@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    border: red;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ff8fdde3,#4FFBDF);
}

.calculator{
            border: 1px solid#1784A2;
            padding: 20px;
            border-radius: 16px;
            background-color: transparent;
            box-shadow: 0px 3px 15px  white;

}

button{
    width: 50px;
    height: 50px;
    margin: 10px;
    color: whitesmoke;
    background: transparent;
    border-radius: 16px;
    border: none;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(163, 168, 168, 0.836);
    cursor: pointer;

}
input {

    width: 280px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 20px;
    text-align: right;
    cursor: pointer;
    color: white;
}

input::placeholder{

    color: white;
    font-size: 30px;  

}

.equalbtn{
    background-color: rgb(130, 167, 236);
}
.operator{
    background-color: #fa8f68e5;
    color: #ffffff;
}